{{define "content"}}
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            <i class="fas fa-user"></i> &nbsp; Foydalanuvchi ma'lumotlari
        </p>
        <div class="card-header-icon">
            <a href="/users" class="button is-light">
                <i class="fas fa-arrow-left"></i> Orqaga
            </a>
        </div>
    </header>
    <div class="card-content">
        {{if .User}}
        <div class="columns">
            <div class="column is-8">
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td><strong>ID:</strong></td>
                            <td>{{.User.UserID}}</td>
                        </tr>
                        <tr>
                            <td><strong>MSISDN:</strong></td>
                            <td><code>{{.User.MSISDN}}</code></td>
                        </tr>
                        <tr>
                            <td><strong>Ism:</strong></td>
                            <td>{{.User.Name}}</td>
                        </tr>
                        <tr>
                            <td><strong>Holati:</strong></td>
                            <td>
                                {{if .User.IsActive}}
                                    <span class="tag is-success is-large">
                                        <i class="fas fa-check-circle"></i> &nbsp; Faol
                                    </span>
                                {{else}}
                                    <span class="tag is-danger is-large">
                                        <i class="fas fa-times-circle"></i> &nbsp; Nofaol
                                    </span>
                                {{end}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="buttons">
            <a href="/user/edit?id={{.User.UserID}}" class="button is-warning">
                <i class="fas fa-edit"></i> Tahrirlash
            </a>
            <a href="/user/delete?id={{.User.UserID}}"
               class="button is-danger"
               onclick="return confirm('Haqiqatan ham o\'chirmoqchimisiz?')">
                <i class="fas fa-trash"></i> O'chirish
            </a>
            <a href="/users" class="button is-light">
                <i class="fas fa-list"></i> Ro'yxatga qaytish
            </a>
        </div>
        {{else}}
        <div class="notification is-warning">
            <i class="fas fa-exclamation-triangle"></i> Foydalanuvchi topilmadi
        </div>
        {{end}}
    </div>
</div>
{{end}}
